*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}


body {
height: 100vh;
background: rgb(228,255,106);
background: linear-gradient(54deg, rgba(228,255,106,1) 0%, rgba(0,181,231,1) 100%);
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}


.header{
    padding: 30px;
}

.header h1{
    font-size: 50px;
}

#searchBar{
    text-align: center;
    font-size:20px;
    background: transparent;
    border: none;
    border-bottom: 3px solid;
    width: 250px;
    height: 30px;
}
.city{
    font-size: 40px;
    font-weight: 700;
    
    }
.temp{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 1px 2px gray;
}

.content{
    
    font-weight: bold;   
}